.ChatBox{
width: 90vw;
display: flex;
flex-direction: column;
align-items: center;

}
.ChatBoxDiv{
    width: 80vw;
    border: 3px solid #007BFF;
    border-radius: .4rem;
    padding: .5vh;
    background-color:#007bff ;
}

.userNameBox{
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.295);
    color: white;
    padding:.5vh 2vw;
    border-radius: .4rem .4rem 0 0;
    box-shadow: 1px 1px 6px 0px rgba(128, 128, 128, 0.404);

}

.messagesUl{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
    margin: 2vh 0;
}
.messagesUl li{
    background-color: #F4F4F4;
    width: fit-content;
    border-radius: .3rem;
    box-shadow:inset 1px 1px 6px 2px rgba(128, 128, 128, 0.404);
    padding: .6vh 6vw;

}
.messagesLi{
    clip-path: polygon(100% 0, 100% 100%, 12% 100%, 12% 81%, 0 78%, 12% 61%, 12% 0);
    /* padding-left: 6vw !important; */
    align-self: flex-start;
    
}

.messagesLiSender{
    /* padding-right: 12vw; */
    align-self: flex-end;
    clip-path: polygon(88% 0, 88% 41%, 100% 77%, 88% 74%, 88% 100%, 0 100%, 0 0);
    

}
.inputBtn{
display: flex;
flex-direction: column;
align-items: flex-start;
padding:2vh 5vw;
gap: 1vh;
}
.messageInput{
    width: 60vw;
    height:7vh;
    border-radius: .5rem;
    border: 1px solid #007bff8f;
    outline: none;
    padding-left: 4vw;

}
.messageInput:focus{
    outline: 1px solid #001aff;
}

.messageBtn{
color: white;
border: none;
background-color: #007BFF;
padding:1vh 2vw;
border-radius: .5rem;
background-color: rgba(255, 255, 255, 0.295);


}

.messageBtn:hover{
background-color: #001aff;
box-shadow: 1px 1px 4px 0px rgba(128, 128, 128, 0.76);

}
@media(min-width:450px){
    .ChatBox{
        width:50vw;
      
        }
        .ChatBox div{
            width: 48vw;
        }
        .messageInput{
            width: 40vw;
            height: 9vh;
        }
        .inputBtn{
            padding: 2vh 3vw;
        }
        .messagesUl li {
            padding: 0.6vh 3vw;
            font-size: 1.1rem;
        }
        .userNameBox{
            padding: 1vh 2vw;
        }
}

@media(min-width:700px){
.messagesUl{
    padding: 0 2vw;
}
}