.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    padding: 3vh 2vw;
}

.logo{
    font-size: 1.2rem;
    color: #007BFF;
}

.headerBtnDiv{
    display: flex;
    gap: .1rem;
}

.headerBtn{
    background-color: #FFA500;
    color: white;
    border: none;
    /* border: 1px solid white; */
    border-radius: .2rem;
    padding: .4rem;
 
}

.headerBtn:hover{
    border: 1px solid #FFA500;
    color: #FFA500;
}
.userNamesm{
    background-color: #007BFF;
    box-shadow: 0px 2px 9px 0px rgba(128, 128, 128, 0.849);
    color: white;
    text-align: center;

}
.userNamelg{
 display: none;

}
@media(min-width:300px){
    .header{
        padding:2.5vh 4vw;
    }
    .logo{
        font-size: 1.4rem;
        color: #007BFF;
    }
    .headerBtnDiv{
        gap: .3rem;
    }
}

@media(min-width:550px){
    
    .logo{
        font-size: 1.6rem;
    }
    .headerBtnDiv{
        gap: .5rem;
    }
    .headerBtn{
        font-size: .8em;

    }
    .userNamelg{
        display: block;
        background-color: #007BFF;
        box-shadow: 0px 2px 9px 0px rgba(128, 128, 128, 0.849);
        color: white;
        text-align: center;
    
    }
    .userNamesm{
     display: none;
    
    }
}

@media(min-width:700px){
    .logo{
        font-size:2rem;
    }

    .headerBtn{
        font-size: 1em;
        padding: .6rem;

    }
}

@media(min-width:1000px){
    .logo{
        font-size:3rem;
    }

    .headerBtn{
        font-size: 1.1rem;
        padding: .8rem;

    }
}