.signinContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signinDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    border-radius: 1rem;
    background-color: #00aeff;
    padding: 5vh 3vw;
}

.chatheading {
    color: white;
}

.signinheading {
    color: rgba(255, 255, 255, 0.767);

}

.border {
    margin:0 3vw;
    padding: 0 2vw;
    border-left: 3px double white;
    border-right: 3px double white;

}

.signinForm {
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    gap: 4vh;

}

.input_label {
    gap: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email_input,
.password_input {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.829);
    border-bottom: 1px solid white;
    width: 70vw;
    height: 5.5vh;
}

.email_input:focus,.password_input:focus{
    transform: scale(.95);
}

.signinBtn {
    border: none;
    color: #00aeff;
    background-color: white;
    padding: 1vh 2vw;
}

.signinBtn:hover{
    background-color: #00aeff;
    color: white;
    border: 1px solid white;

}
.signupSpan{
    display: block;
    color: white;
    margin-top: 2vh;
}
@media(min-width:350px){
    .signinDiv {
        width: 70vw;
   
    }

    .email_input,
.password_input {
    width: 45vw;
}
}

@media(min-width:350px){
    .signinDiv {
        width: 60vw;
   
    }

    .email_input,
.password_input {
    width: 35vw;
}
}

@media(min-width:550px){
    .signinDiv {
        width: 50vw;
        padding: 10vh 3vw;
   
    }

    .email_input,
.password_input {
    width: 30vw;
}
}

@media(min-width:850px){
    .signinDiv {
        width:50vw;
   
    }

    .email_input,
.password_input {
    width: 25vw;
    height: 6vh;
}
}

@media(min-width:1050px){
    .signinDiv {
        width:40vw;
   
    }

    .email_input,
.password_input {
    width: 20vw;
}
}