.usersDiv{
margin: .5rem;
padding: 1vh;
display: flex;
flex-direction: column;
align-items: center;
max-height: 85vh;
}

.userHeading{
color: #FFA500;
margin-bottom: .5vh;

}

.usersPanelul{
    list-style: none;
}

.usersPanelul li{
    background-color: #f4f4f4ab;
    width:100vw;
    text-align: center;
    padding: 1vh 0;
    border: 1px solid #a7a7a76e;
    border-radius: 3px;
    margin-bottom: .5vh;
    color:#424242 ;
    text-transform: capitalize;

}

.usersPanelul li:hover{
transform: scale(1.05);
background-color:#a7a7a76e ;
color: white;
}

@media(min-width:300px){
    .userHeading{
        margin-bottom: .7vh;
        
        }

        .usersPanelul li{
            padding: 1vh 0;
            font-size: 1.1rem;
        }
}

@media(min-width:450px){
    .usersDiv{
        width:40vw;
        border-right: 1px solid #a7a7a76e;

    }
    .usersPanelul li{
        background-color: #f4f4f4ab;
        width:38vw;
    }

    .usersPanelul li:hover{
        transform: scale(1.02);
     
        }

}